/* Main blocks style */
html, body {
    position: absolute;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "AnfisaGroteskRegular";
}
div, section, footer {
    position: absolute;
    display: block;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}
section {
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 5%;
    background: #DBB38F;
}

/* Page selector in footer */
.page-selector {
    height: 100%;
    background: #F3CFA5;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid transparent;
    cursor: pointer;
}
.page-selector:focus {
    box-shadow: 0;
    border: 1px dashed black;
}

/* Minimap style and animation */
.page-minimap {
    right: 0; top: 0;
    z-index: 2;
    width: 15%;
    height: 95%;
    background: #000;
}
.page-minimap.ng-hide-add.ng-hide-add-active,
.page-minimap.ng-hide-remove.ng-hide-remove-active {
    transition: width linear 0.3s;
}
.page-minimap.ng-hide {
    width: 0;
}

.cbcontainer{position:absolute;top:-1em;bottom:-1em;left:-1em;right:-1em;margin:auto;width:10em;height:10em;transform-style:preserve-3d;opacity:.7;animation:rotate 15s infinite linear}.cbside{position:absolute;width:10em;height:10em;overflow:hidden;background:linear-gradient(yellowgreen 1px,transparent 2px) left bottom;background-size:15px 15px;animation:bg 5s infinite linear}.cbback{transform:translateZ(-5em)}.cbfront{transform:translateZ(5em)}.cbtop{transform:translateY(-5em) rotateX(90deg)}.cbbottom{transform:translateY(5em) rotateX(90deg)}.cbleft{transform:translateX(-5em) rotateY(90deg)}.cbright{transform:translateX(5em) rotateY(90deg)}@keyframes rotate{100%{transform:rotateX(360deg) rotateY(360deg) rotateZ(360deg)}}@keyframes bg{50%{background-position:right top}}