.page-wait {
    width: 75%;
}
.wait-text {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto auto 10%;
    width: 75%;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    background-color: whitesmoke;
    box-shadow: 0px 0px 3px 2px #34F965;
}