@import 'presets';

/* Central logo at lobby page */

.page-lobby-logo {
  @extend .pr_npos;
  @include size(100%, 100%);
  max-width: 750px;
  max-height: 350px;
  z-index: 1;
  margin: 10% auto;
  background: url('../res/logo.svg') no-repeat 50% 50%;
}

/* Info container styles (big box) */

.page-lobby-dcontainer {
  @extend .pr_npos;
  @include size(100%, 200px);
  max-width: 600px;
  min-width: 480px;
  z-index: 1;
  margin: auto auto 5%;
  background: $color-primary-1;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 90px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 90px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 90px 6px rgba(0,0,0,0.75);
}

/* Left labels */

.page-lobby-dcontainer-plcountext {
  font-size: $font-size-main;
  margin: 40px;
}

.page-lobby-dcontainer-gstatustext {
  font-size: $font-size-main;
  margin: calc(70px + 24pt) 40px;
}

/* Join buttons container */

.page-lobby-dcontainer-join {
  width: 200px;
  height: 200px;
  top: 0; right: 0;
  cursor: pointer;
}

/* Big join button */

@keyframes anib {
  0% { background: $color-primary-1 }
  100% { background: $color-primary-2 }
}

.page-lobby-dcontainer-join-big {
  font-size: 64pt;
  @include size(100%, 100%);
  line-height: 200px;
  text-align: center;
  border-left: solid 1px white;
  background: $color-primary-1;
  &:hover {
    animation: anib ease-out 0.6s 1;
  }
}

/* Join form container */

.page-lobby-dcontainer-join-form {
  @include size(100%, 100%);
  background-color: azure;
  border-left: solid 1px white;
}

.join-form-animate {
  opacity: 1;
  &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove.ng-hide-remove-active {
    transition: opacity linear 0.2s;
  }
  &.ng-hide {
    opacity: 0;
  }
}

/* Input field */

.page-lobby-dcontainer-join-form-ninput {
  @include size(100%, 50px);
  outline: 0;
  border: 0;
  padding: 0;
  font-size: $font-size-small;
  text-align: center;
  background: $color-primary-2;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background: $color-primary-1;
    cursor: text;
  }
}

/* Small join button in form */

.page-lobby-dcontainer-join-form-jbutton {
  background-color: $color-primary-2;
  @include size(100%, calc(100% - 50px));
  bottom: 0;
  border-top: 1px solid white;
  text-align: center;
  line-height: 150px;
  font-size: $font-size-buttons;
  padding: 0;
  &:hover {
    background: $color-primary-1;
  }
}