html, body {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "AnfisaGroteskRegular";
  background: #fff8e1;
}

div, section, footer {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
}

section {
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

footer {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  height: 5%;
  background: #ffcc80;
}

.page-selector {
  height: 100%;
  background: #ffca28;
  border: transparent solid 1px;
  cursor: pointer;
  &:focus {
    border: black dashed 1px;
  }
}

.page-minimap {
  right: 0;
  top: 0;
  z-index: 2;
  width: 15%;
  height: 95%;
  background-color: silver;
  background-image: radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size: 100px 50px;
  &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove.ng-hide-remove-active {
    transition: width 0.3s linear;
  }
  &.ng-hide {
    width: 0;
  }
}

$side: 10em;

.cbcontainer {
  position: absolute;
  top: -1em;
  bottom: -1em;
  left: -1em;
  right: -1em;
  margin: auto;
  width: $side;
  height: $side;
  transform-style: preserve-3d;
  opacity: .7;
  animation: rotate 15s infinite linear;
  }
.cbside {
  position: absolute;
  width: $side;
  height: $side;
  overflow: hidden;
  background: linear-gradient( yellowgreen 1px, transparent 2px);
  background-size: 15px 15px;
  background-position: left bottom;
  animation: bg 5s infinite linear;
  }

.cbback {
  transform: translateZ(-$side/2);
  }
.cbfront {
  transform: translateZ($side/2);
  }
.cbtop {
  transform: translateY(-$side/2) rotateX(90deg);
  }
.cbbottom {
  transform: translateY($side/2) rotateX(90deg);
  }
.cbleft {
  transform: translateX(-$side/2) rotateY(90deg);
  }
.cbright {
  transform: translateX($side/2) rotateY(90deg);
  }

@keyframes rotate {
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes bg {
  50% {
    background-position: right top;
  }
}
