@import 'presets';

.page-score-table {

	@include size(100%, 100%);
	overflow: scroll;
	font-size: $font-size-main;
	text-align: center;
	padding: 0;
	border-spacing: 0;

	tr:first-child {
		height: 50px;
		margin-top: 0;
		background-color: rgba(224,224,224,1);
    	@include filter-gradient(#e0e0e0, #ffffff, vertical);
    	@include background-image(linear-gradient(top, rgba(224,224,224,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%));
		td {
			border: 0 3px solid black;
		}
	}
	tr {
		margin-top: 2px;
		background-color: rgba(237,237,237,1);
		@include filter-gradient(#ededed, #ffffff, horizontal);
		@include background-image(linear-gradient(left, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%));
		
		td {
			border: 1px solid #8f8f8f;
			padding: 0;
			// Small lable for  main player in scoreboard
			.main-label {
				display: inline;
				position: static;
				font-size: 14pt;
				width: 40px;
				height: 20px;
				line-height: 20px;
				vertical-align: top;
				border-radius: 6px;
				border: 1px solid #7a7a7a;
				background-color: rgba(235,235,235,1);
				@include filter-gradient(#ebebeb, #cccccc, vertical);
				@include background-image(linear-gradient(top, rgba(235,235,235,1) 0%, rgba(246,246,246,1) 47%, rgba(204,204,204,1) 100%));
				margin-left: 3px;
			}
		}		
	}
	.score {
		width: 6%;
	}
	.name {
		width: 10%;
	}
	.turn, .vote {
		width: 42%;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}