@import 'presets';

/* Turn page markup */

.page-turn-top-bar {
  @extend .pr_bar-container
}

.page-turn-hand-container {
  @extend .pr_cards-container
}

.hand-card {
  @extend .pr_card-obj
}

/* Overlay settings */

.page-turn-overlay {
  @extend .pr_npos;
  @include size(100%, 100%);
}

.page-turn-overlay-layer {
  @extend .pr_npos;
  @include size(100%, 100%);
  background: #000;
  opacity: 0.8;
}

.page-turn-overlay-ass-box {
  @extend .pr_npos;
  @include size(60%, 100px);
  margin: auto;
  opacity: 1;
  background: transparent;
}

@keyframes but-scale {
   0% {
       transform: scale(1);
  }
  100% {
      transform: scale(1.1);
 }
}

.page-turn-ass-text {
  @include size(60%, 100%); left: 0;
  font-size: 36pt;
  padding: 0; margin: 0; outline: 0;
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  position: absolute;
  background-color: rgba(235,235,235,1);
  @include filter-gradient(#ebebeb, #e6e6e6, vertical);
  @include background-image(linear-gradient(top, rgba(235,235,235,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%));
  
  &:hover {
    animation: but-scale 0.15s linear;
    transform: scale(1.1);
  }
  &:focus {
    border: 3px solid #FF8707;
  }
}

.page-turn-ass-accept {
  @include size(30%, 100%);
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  line-height: 100px;
  font-size: $font-size-buttons - 12pt;
  text-align: center;
  right: 0;
  background-color: rgba(235,235,235,1);
  @include filter-gradient(#ebebeb, #e6e6e6, vertical);
  @include background-image(linear-gradient(top, rgba(235,235,235,1) 0%, rgba(246,246,246,1) 47%, rgba(230,230,230,1) 100%));
  
  &:hover {
    cursor: pointer;
    animation: but-scale 0.15s linear;
    transform: scale(1.1);
  }
}
