@import 'presets';

/* Turn page markup */

.page-turn-top-bar {
  @extend .pr_bar-container
}

.page-turn-hand-container {
  @extend .pr_cards-container
}

.hand-card {
  @extend .pr_card-obj
}

/* Overlay settings */

.page-turn-overlay {
  @extend .pr_npos;
  @include size(100%, 100%);
}

.page-turn-overlay-layer {
  @extend .pr_npos;
  @include size(100%, 100%);
  background: #000;
  opacity: 0.8;
}

.page-turn-overlay-ass-box {
  @extend .pr_npos;
  @include size(60%, 100px);
  margin: auto;
  opacity: 1;
  background: snow;
  border-radius: 20px;
  overflow: hidden;
}

.page-turn-ass-text {
  @include size(calc(100% - 200px), 100%);
  font-size: 36pt;
  left: 0;
  background: #fff3e0;
  display: block;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  position: absolute;
}

.page-turn-ass-accept {
  @include size(200px, 100%);
  line-height: 100px;
  font-size: 48pt;
  text-align: center;
  right: 0;
  background: #f57c00;
  cursor: pointer;
  &:hover {
    background: #A00;
  }
}