<!DOCTYPE html>
<html lang="en" ng-app="imaginarium">
<head>
    <meta charset="UTF-8"/>
    <title>Воображариум</title>
    <link rel="icon" href="res/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/lobby.css">
    <link rel="stylesheet" type="text/css" href="styles/turn.css">
    <link rel="stylesheet" type="text/css" href="styles/table.css">
    <script src="js/external/angular.min.js"></script>
    <script src="js/external/angular-animate.min.js"></script>
    <script src="js/external/angular-websocket.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/socket.js"></script>
</head>
<body ng-controller="game-controller" ng-switch on="pages[activepage]">
    <style ng-if="showminimap">section{width: 85%;}</style>
    <section ng-switch-when="page-lobby" class="page-lobby">
        <div class="page-lobby-logo"></div>
        <div class="page-lobby-dcontainer">
            <div class="page-lobby-dcontainer-plcountext">{{state.pcount}} игроков в игре</div>
            <div class="page-lobby-dcontainer-gstatustext">Игра еще не началась</div>
            <div ng-click="formvisible=1" class="page-lobby-dcontainer-join">
                <div ng-show="!formvisible" class="page-lobby-dcontainer-join-big join-form-animate">JOIN</div>
                <div ng-show="formvisible" class="page-lobby-dcontainer-join-form join-form-animate">
                    <input ng-model="state.name" class="page-lobby-dcontainer-join-form-ninput" placeholder="Как вас зовут?"/>
                    <div ng-click="join()" class="page-lobby-dcontainer-join-form-jbutton">READY</div>
                </div>
            </div>
        </div>
    </section>
    <section ng-switch-when="page-turn" class="page-turn">
        <div class="page-turn-top-bar">Выбери карту, похожую на {{state.association}}:</div>
        <div class="page-turn-hand-container">
<!--             <div ng-repeat="card in state.hand track by $index" ng-style="{'background-image':'url(res/cards/{{card}}.jpg)'}" ng-click="choice($index, false)" class="hand-card"></div> -->
            <div ng-repeat="card in [0,2,3,4,1,55] track by $index" ng-style="{'background-image':'url(res/cards/{{card}}.jpg)'}" ng-click="choice($index, false)" class="hand-card"></div>
        </div>
        <div ng-show="overlayon" class="page-turn-overlay">
            <div class="page-turn-overlay-layer"></div>
            <div class="page-turn-overlay-ass-box">
                <input ng-model="state.association" placeholder="Введите свою ассоциацию..." class="page-turn-ass-text" />
                <div ng-click="choice(selectedcard, true)" class="page-turn-ass-accept">ACCEPT</div>
            </div>
                </div>
    </section>
    <section ng-switch-when="page-vote" class="page-vote">
        <div class="page-vote-top-bar">Какая карта больше всего похожа на {{ state.association }}? :</div>
        <div class="page-vote-table-container">
            <div ng-repeat="card in state.table track by $index" ng-style="{'background-image':'url(res/cards/{{card}}.jpg)'}" ng-click="choice($index, true)" class="table-card"></div>
        </div>
    </section>
    <section ng-switch-when="page-score" class="page-score">Страница счета</section>
    <section ng-switch-when="page-wait" class="page-wait">
        <div class="cbcontainer">
            <div class="cbback cbside"></div>
            <div class="cbleft cbside"></div>
            <div class="cbright cbside"></div>
            <div class="cbtop scbide"></div>
            <div class="cbbottom cbside"></div>
            <div class="cbfront cbside"></div>
        </div>
    </section>
    <div ng-show="showminimap" class="page-minimap"></div>
    <footer>
    <select ng-model="activepage" ng-options="item for item in [0,1,2,3,4]" class="page-selector" />
    <label><input ng-model="showminimap" type="checkbox">Show minimap</label>
    <input type="button" ng-click="start_game()" value="START">
    </footer>
</body>
</html>